.l-header {
    position: relative;
    height: 80px;
    &__inner {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        padding: 30px 0;
        @include mq(md) {
            display: block;
            padding: 15px;
        }
    }
    &__logo {
        width: 100px;
        height: 26px;
        @include mq(md) {
            margin-bottom: 3px;
        }
    }
    &__nav {
        margin-left: 50px;
        @include mq(md) {
            margin-left: 0;
        }
    }
    &__nav-list {
        display: flex;
    }
    &__nav-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__nav-link {
        &:hover {
            opacity: 0.7;
        }
    }
    &__contact-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 31px 76px;
        background-color: $color-background-black;
        color: $color-text-white;
        text-align: center;
        &:hover {
            opacity: 0.9;
        }
        @include mq(md) {
            display: none;
        }
    }
}